// colors

$black: #000;
$gray: #666;
$white: #fff;

// fonts

$font-family-base: 'Arial', sans-serif;

$font-weight-base: 400;
$font-weight-heavy: 700;

$font-size-xxl: 4.5rem;
$font-size-xl: 2rem;
$font-size-lg: 1.5rem;
$font-size-xs: .7rem;

$font-size-base: 22px;

// line heights

$line-height-base: 1.5;

// z-index

$z-layers: (
  navigation: 3000,
  hamburger: 6000
);

// animations

$transition-duration: .5s;
$transition-timing-function: ease-in-out;

// layout

$page-margin: 30px;

// media breakpoints

$media-breakpoint: (
  xs: 699px,
  sm: 700px,
  md: 900px,
  lg: 1200px
);
