* {
  -webkit-tap-highlight-color: transparent; // sass-lint:disable-line no-vendor-prefixes

  &,
  &::before,
  &::after {
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes

    text-rendering: optimizeLegibility;
  }
}

::selection {
  color: $white;

  background-color: $black;

  text-shadow: none;
}

html,
body {
  height: 100%;

  font-weight: $font-weight-base;
  font-size: $font-size-base;
  font-family: $font-family-base;

  line-height: $line-height-base;
}
