<!DOCTYPE html>
<html>
<head>
  <meta charset="{{ meta.charset }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="description" content="{{ meta.description }}">
  <title>{{ meta.title }}{% if title %} - {{ title }}{% endif %}</title>
  <meta property="og:title" content="{{ meta.title }}{% if title %} - {{ title }}{% endif %}">
  <meta property="og:description" content="{{ meta.description }}">
  <meta property="og:url" content="{{ meta.url }}{% if slug %}/{{ slug }}{% endif %}">
  <meta property="og:image" content="{{ meta.image.src }}">
  <meta property="og:image:type" content="{{ meta.image.type }}">
  <meta property="og:image:width" content="{{ meta.image.width }}">
  <meta property="og:image:height" content="{{ meta.image.height }}">
  <link type="image/x-icon" rel="shortcut icon" href="{{ meta.favicon }}">
  <link type="image/x-icon" href="{{ meta.favicon }}">
  <link type="image/x-icon" rel="icon" href="{{ meta.favicon }}">
  <link type="text/css" rel="stylesheet" href="{{ meta.styles }}?v={{ meta.version }}">
  <script type="text/javascript" src="{{ meta.scripts }}?v={{ meta.version }}"></script>
</head>
<body>
  <nav>
    <div class="hamburger" id="hamburger">
      <div class="hamburger__line"></div>
      <div class="hamburger__line"></div>
      <div class="hamburger__line"></div>
    </div>
    {% include "navigation.html" %}
  </nav>
  <main>
    {% if title %}
      <h1>{{ title }}</h1>
      {{ content | safe }}
    {% else %}
      <div class="title">{{ meta.title }}</div>
    {% endif %}
  </main>
</body>
</html>
